/* body{
    background-color: lightcyan;
} */
h3{
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 1.5;
}
a:visited{
    color: white;
    text-decoration: none;
}
/*
a:hover{
    color:red;
} */
pre{
    white-space: pre-wrap;
}
#contact{
    margin-left: 70px;
}
/* .text-container{
    position: absolute;
    top: 24%;
    background-color: white;
    height: 300px;
    width: 1503px;
    background: rgba(255, 255, 255, 0.4);
}
.Center_txt{
    margin-top: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.information{
    box-shadow: 0 0 15px;
    background-color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15px;
} */
.para-container{
    display: flex;
    margin-top: 20px;
}
::placeholder{
    color: white;
}
/* .para_name{
    font-size: 17px;
}
.vital-container{
    background-color: white;
    box-shadow: 0 0 15px #999;
    border-radius: 20px;
    margin-left: 10px;
    width: 400px;
}
.vital{
    margin-left: 10px;
}
#rr{
    margin-left: 8px;
}
#hr{
    margin-left: 64.8px;
}
#sp{
    margin-left: 127px;
}
.vital-container > h1{
    text-align: center;
}
.lab-findings{
    background-color: white;
    box-shadow: 0 0 15px #999;
    margin-left: 10px;
    border-radius: 20px;
    width: 550px;
}
.lab{
    margin-left: 10px;
}
#dd{
    margin-left: 17px;
}
#cpk{
    margin-left: 40px;
}
#crp{
    margin-left: 40px;
}
#ldh{
    margin-left: 39px;
}
#tr{
    margin-left: 11px;
}
#fr{
    margin-left: 22px;
}
#alc{
    margin-left: 12px;
}
#ct{
    margin-left: 7px;
}
#apg{
    margin-left: 40px;
}
.epidem-container{
    background-color: white;
    border-radius: 20px;
    width: 530px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 15px #999;
     height: 620px; 
    margin-left: 2px;
}
.epidem{
    margin-left: 10px;
}
.epidem-container > h1{
    text-align: center;
}
.head{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.fcuk{
    color: white;
    opacity: 0.75;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
.fcuk:hover{
    color: #81c784;
}
.fcu{
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
.fcu:hover{
    color: #81c784;
}
.heading{
     margin-top: 0px; 
    margin-bottom: 15px;
     font-size: 50px; 
    color: rgba(255,255,255,.75);
     text-shadow: 5px 5px blue; 
    font-weight: normal;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;

}
@media (-webkit-min-device-pixel-ratio :2) and (-webkit-max-device-pixel-ratio :2.9){
    *{
        box-sizing: border-box;
    }
    body{
        position: absolute;
    }
    #contact{
        margin-left: 10px;
        width: auto;
    }
    .text-container{
        position: absolute;
        top: 65px;
        background-color: white;
        height: 260px;
        width: auto;
        background: rgba(255, 255, 255, 0.4);
    }
    .Center_txt{
        margin-top: 8%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .information{
        box-shadow: 0 0 15px;
        background-color: white;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 15px;
    }
    .para-container{
        display: flex;
        flex-direction: column;
    }
    ::placeholder{
        color: dimgrey;
    }
    .epidem-container{
        background-color: white;
        border: 1px solid  black;
        width: 103%;
        margin-left: 0%;
        height: 30%;
    }
    .epidem{
        margin-left: 10px;
    }
    .epidem-container > h1{
        text-align: center;
    }
    .head{
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .heading{
        font-size: 35px;
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .vital-container{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        margin-left: 0%;
        width: 103%;
    }
    .vital{
        margin-left: 3%;
    }
    #rr{
        margin-left: 2px;
    }
    #hr{
        margin-left: 45px;
    }
    #sp{
        margin-left: 95px;
    }
    .vital-container > h1{
        text-align: center;
    }
    .lab-findings{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        width: 103%;
        margin-left: 0%;
    }
    .lab{
        margin-left: 10px;
    }
    #dd{
        margin-left: 5px;
    }
    #cpk{
        margin-left: 20px;
    }
    #crp{
        margin-left: 20px;
    }
    #ldh{
        margin-left: 20px;
    }
    #tr{
        margin-left: 2px;
    }
    #fr{
        margin-left: 10px;
    }
    #alc{
        margin-left: 3px;
    }
    #ct{
        margin-left: 2px;
    }
    #apg{
        margin-left: 23px;
    }

}
@media (-webkit-min-device-pixel-ratio :3){
    *{
        box-sizing: border-box;
    }
    body{
        position: absolute;
    }
    #contact{
        margin-left: 10px;
        width: auto;
    }
    .text-container{
        position: absolute;
        top: 3.5%;
        background-color: white;
        height: 260px;
        width: auto;
        background: rgba(255, 255, 255, 0.4);
    }
    .Center_txt{
        margin-top: 7%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .information{
        box-shadow: 0 0 15px;
        background-color: white;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 15px;
    }
    .para-container{
        display: flex;
        flex-direction: column;
    }
    ::placeholder{
        color: dimgrey;
    }
    .epidem-container{
        background-color: white;
        border: 1px solid  black;
        width: 100%;
        margin-left: 0%;
        height: 30%;
    }
    .epidem{
        margin-left: 10px;
    }
    .epidem-container > h1{
        text-align: center;
    }
    .head{
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .heading{
        font-size: 40px;
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .vital-container{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
    }
    .vital{
        margin-left: 3%;
    }
    #rr{
        margin-left: 14px;
    }
    #hr{
        margin-left: 63px;
    }
    #sp{
        margin-left: 115px;
    }
    .vital-container > h1{
        text-align: center;
    }
    .lab-findings{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        width: 100%;
        margin-left: 0%;
    }
    .lab{
        margin-left: 10px;
    }
    #dd{
        margin-left: 25px;
    }
    #cpk{
        margin-left: 44px;
    }
    #crp{
        margin-left: 45.5px;
    }
    #ldh{
        margin-left: 43.5px;
    }
    #tr{
        margin-left: 20px;
    }
    #fr{
        margin-left: 31px;
    }
    #alc{
        margin-left: 20px;
    }
    #ct{
        margin-left: 16px;
    }
    #apg{
        margin-left: 43px;
    }
} */
#dd{
    width: 100px;
}
#cpk{
    width: 100px;
}
#crp{
    width: 100px;
}
#ldh{
    width: 100px;
}
#tr{
    width: 100px;
}
#fr{
    width: 100px;
}
#alc{
    width: 100px;
}
#ct{
    width: 100px;
}
#apg{
    width: 100px;
}
@media (max-width:412px){
    #dd{
        width: 90px;
    }
    #cpk{
        width: 90px;
    }
    #crp{
        width: 90px;
    }
    #ldh{
        width: 90px;
    }
    #tr{
        width: 90px;
    }
    #fr{
        width: 90px;
    }
    #alc{
        width: 90px;
    }
    #ct{
        width: 90px;
    }
    #apg{
        width: 90px;
    }
    #sub{
        width:230px;
    }
    #npat{
        width:230px;
        margin-top: 25px;
    }
    #rr{
        width: 150px;
    }
    #hr{
        width: 150px;
    }
    #sp{
        width: 150px;
    }

}