#ag3{
    margin-left: 235px;
}
#btn1{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 74px;
}
#btn2{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 30px;
}
#btn3{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 210px;
}
#btn4{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 30px;
}
#btn5{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 119px;
}
#btn6{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 30px;
}
#btn7{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 211px;
}
#btn8{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 30px;
}
#btn9{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 217.5px;
}
#btn10{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 30px;
}
#btn11{
    background-color: #e7e7e7; 
    color: black;
    margin-left:116px;
}
#btn12{
    background-color: #e7e7e7; 
    color: black;
    margin-left: 30px;
}
#sub{
    margin-top: 30px;
    margin-left: 460px;
    color: white;
    background: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
#npat{
    margin-top: 30px;
    margin-left: 120px;
    color: white;
    background: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.error{
    visibility: hidden; 
    color: red;
}
/* label{
    border: 1px solid black;
} */
.units{
    margin-left: 280px;
}
.measure{
    margin-left: 35px;
}
.not_app{
    background-color: #e7e7e7;
    margin-left: 125px;
}
.not_app_fr{
    background-color: #e7e7e7;
    margin-left: 55px;
}
.not_app_tr{
    background-color: #e7e7e7;
    margin-left: 43px;
}
.not_app_ldh{
    background-color: #e7e7e7;
    margin-left: 59px;
}
.not_app_dd{
    background-color: #e7e7e7;
    margin-left: 40px;
}
.not_app_crp{
    background-color: #e7e7e7;
    margin-left: 50px;
}
.not_app_cpk{
    background-color: #e7e7e7;
    margin-left: 57px;
}
@media (min-width:320px) and (max-width:414px){
    #ag3{
        margin-left: 120px;
    }
    #btn1{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 30px;
    }
    #btn2{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 6.2%;
    }
    #btn3{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 126px;
    }
    #btn4{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 6.2%;
    }
    #btn5{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 63px;
    }
    #btn6{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 6.2%;
    }
    #btn7{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 128px;
    }
    #btn8{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 6.2%;
    }
    #btn9{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 133px;
    }
    #btn10{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 6.2%;
    }
    #btn11{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 62px;
    }
    #btn12{
        background-color: #e7e7e7; 
        color: black;
        margin-left: 6.2%;
    }
    #sub{
        margin-top: 2%;
        margin-left: 55px;
        color: white;
        background: red;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    #npat{
        margin-top: 2%;
        margin-left: 85px;
        color: white;
        background: green;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .error{
        visibility: hidden; 
        color: red;
    }
    label{
        font-size: 0.7rem;
    }
    .units{
        display: none;
        margin-left: 65%;
    }
    .measure{
        display: none;
        margin-left: 7%;
    }
    .not_app{
        margin-left: 30px;
    }
    .not_app_fr{
        margin-left: 29.8px;
    }
    .not_app_tr{
        margin-left: 29.4px;
    }
    .not_app_ldh{
        margin-left: 29px;
    }
    .not_app_dd{
        margin-left: 30px;
    }
    .not_app_crp{
        margin-left: 8.8%;
    }
    .not_app_cpk{
        margin-left: 30px;
    }
}
