/* body{
    background-color: lightcyan;
} */
h3{
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 1.5;
}
a:visited{
    color: black;
}
a:hover{
    color:red;
}
pre{
    white-space: pre-wrap;
}
#contact{
    margin-left: 70px;
}
.text-container{
    position: absolute;
    top: 13%;
    background-color: white;
    height: 300px;
    width: 1503px;
    background: rgba(255, 255, 255, 0.4);
}
.Center_txt{
    margin-top: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.information{
    box-shadow: 0 0 15px;
    background-color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15px;
}
.para-container{
    display: flex;
    margin-top: 20px;
}
::placeholder{
    color: white;
}
.vital-container{
    background-color: white;
    box-shadow: 0 0 15px #999;
    border-radius: 20px;
    margin-left: 10px;
    width: 400px;
}
.vital{
    margin-left: 10px;
}
#rr{
    margin-left: 8px;
}
#hr{
    margin-left: 62px;
}
#sp{
    margin-left: 119px;
}
.vital-container > h1{
    text-align: center;
}
.lab-findings{
    background-color: white;
    box-shadow: 0 0 15px #999;
    margin-left: 10px;
    border-radius: 20px;
    width: 550px;
}
.lab{
    margin-left: 10px;
}
#dd{
    margin-left: 20px;
}
#cpk{
    margin-left: 40px;
}
#crp{
    margin-left: 40px;
}
#ldh{
    margin-left: 39px;
}
#tr{
    margin-left: 12px;
}
#fr{
    margin-left: 23px;
}
#alc{
    margin-left: 14px;
}
.epidem-container{
    background-color: white;
    border-radius: 20px;
    width: 530px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 15px #999;
    height: 528px;
    margin-left: 2px;
}
.epidem{
    margin-left: 10px;
}
.epidem-container > h1{
    text-align: center;
}
.head{
    text-shadow: red;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.heading{
    font-size: 50px;
    text-shadow: red;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
@media (-webkit-min-device-pixel-ratio :2){
    *{
        box-sizing: border-box;
    }
    body{
        position: absolute;
    }
    #contact{
        margin-left: 10px;
        width: auto;
    }
    .text-container{
        position: absolute;
        top: 90px;
        background-color: white;
        height: 260px;
        width: auto;
        background: rgba(255, 255, 255, 0.4);
    }
    .Center_txt{
        margin-top: 8%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .information{
        box-shadow: 0 0 15px;
        background-color: white;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 15px;
    }
    .para-container{
        display: flex;
        flex-direction: column;
    }
    ::placeholder{
        color: dimgrey;
    }
    .epidem-container{
        background-color: white;
        border: 1px solid  black;
        width: 100%;
        margin-left: 0%;
        height: 30%;
    }
    .epidem{
        margin-left: 10px;
    }
    .epidem-container > h1{
        text-align: center;
    }
    .head{
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .heading{
        font-size: 35px;
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .vital-container{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
    }
    .vital{
        margin-left: 3%;
    }
    #rr{
        margin-left: 2px;
    }
    #hr{
        margin-left: 40px;
    }
    #sp{
        margin-left: 82px;
    }
    .vital-container > h1{
        text-align: center;
    }
    .lab-findings{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        width: 100%;
        margin-left: 0%;
    }
    .lab{
        margin-left: 10px;
    }
    #dd{
        margin-left: 5px;
    }
    #cpk{
        margin-left: 20px;
    }
    #crp{
        margin-left: 20px;
    }
    #ldh{
        margin-left: 20px;
    }
    #tr{
        margin-left: 2px;
    }
    #fr{
        margin-left: 10px;
    }
    #alc{
        margin-left: 3px;
    }

}
@media (-webkit-min-device-pixel-ratio :3){
    *{
        box-sizing: border-box;
    }
    body{
        position: absolute;
    }
    #contact{
        margin-left: 10px;
        width: auto;
    }
    .text-container{
        position: absolute;
        top: 4.7%;
        background-color: white;
        height: 260px;
        width: auto;
        background: rgba(255, 255, 255, 0.4);
    }
    .Center_txt{
        margin-top: 7%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .information{
        box-shadow: 0 0 15px;
        background-color: white;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 15px;
    }
    .para-container{
        display: flex;
        flex-direction: column;
    }
    ::placeholder{
        color: dimgrey;
    }
    .epidem-container{
        background-color: white;
        border: 1px solid  black;
        width: 100%;
        margin-left: 0%;
        height: 30%;
    }
    .epidem{
        margin-left: 10px;
    }
    .epidem-container > h1{
        text-align: center;
    }
    .head{
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .heading{
        font-size: 40px;
        text-shadow: red;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .vital-container{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
    }
    .vital{
        margin-left: 3%;
    }
    #rr{
        margin-left: 20px;
    }
    #hr{
        margin-left: 58px;
    }
    #sp{
        margin-left: 99px;
    }
    .vital-container > h1{
        text-align: center;
    }
    .lab-findings{
        background-color: white;
        border: 1px solid black;
        margin-top: 1%;
        width: 100%;
        margin-left: 0%;
    }
    .lab{
        margin-left: 10px;
    }
    #dd{
        margin-left: 30px;
    }
    #cpk{
        margin-left: 45px;
    }
    #crp{
        margin-left: 45.5px;
    }
    #ldh{
        margin-left: 45.5px;
    }
    #tr{
        margin-left: 28px;
    }
    #fr{
        margin-left: 35px;
    }
    #alc{
        margin-left: 28px;
    }
}