#img1{
    width: 600px;
    height: 150px;
}
body{
    background-color: #DCDCDC;
}
.main-container{
    margin-top: 100px;
    margin-left: 458px;
    display: flex;
    flex-direction: column;
    padding: 0%;
    width: 600px;
    height: 500px;
    background-color: white;
    position: relative;
    /*text-align: center;*/
    /*color: white;*/
}
.Center_txt{
    position: absolute;
    top: 5%;
    left: 25%;
    color: antiquewhite;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    transform: translate(-10%, -10%);
}
.Image-container{
    width: 600px;
    height: 200px;
}
.form-container{
    padding: 0%;
    width: 600px;
    height: 400px;
    background-color: white;
}
form{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 20px;
    margin-top: 50px;
}
input{
    margin-left: 20px;
    border: 0;
    width: 350px;
    text-align: center;
    outline: 0;
    background: transparent;
    border-bottom: 1.5px solid dodgerblue;

}
#pid{
    margin-left: 50px;
}
div > p{
    margin-left: 10px;
    margin-top: 170px;
    /* margin: 10px; */
}
#lapid{
    margin-bottom: 20px;
}
#submit{
    margin-top: 70px;
    margin-left: 225px;
    width: 100px;
    height: 50px;
    border: 0;
    font-size: 18px;
    color: white;
    background-color: dodgerblue;
    border-radius: 12px;
    cursor: pointer;
}
.error{
    visibility: hidden; 
    color: red;
}
#ptid{
    margin-top:10px ;
}